* {
    box-sizing: border-box;
}
/*font-family: 'Muli', sans-serif;
font-family: 'Unica One', cursive;
*/
body {
    font-family: "Unica One", sans-serif;
    text-align: center;
    background-image: url("portfolio-mock-pictures/milky-way.jpg");
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed; 
    margin: 0;
}

.nameTitle {
    padding-top: 100px;
    background: rgba(26,22,83,0.6);
    width:80%;
    color: rgb(223, 219, 219);
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    padding-top: 70px;
    font-family: 'Unica One', cursive;
}
h3 {
    font-family: 'Unica One', cursive;
}

p, li {
    font-family: 'Muli', sans-serif;
    line-height: 20px;
}

nav {
    width: 100%;
    background: rgb(26,22,83);
    color: rgb(223, 219, 219);
    text-shadow: 1px 1px 1px black;
    display: flex;
    justify-content: center;
}

nav li {
    display: inline;
    
}

section {
    width: 80%;
    min-height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:rgb(223, 219, 219);
    text-shadow: 1px 1px 1px black;
}

.aboutMe {
    background: rgba(48, 25, 71, 0.6);
}

.aboutMe img {
    width: 60%;
}

.projects{
    background: rgba(118,85,154,0.6);
}

.projects img {
    width: 60%;
}

.contact {
    background: rgba(197,113,175, 0.6);
}

footer {
    background-color:rgb(26,22,83);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer li {
    display: inline;
}

.social a:link {
    color: white;
}
.social a:visited {
    color: white;
}

.social a::after {
    color: white;
}

.social a:hover {
    color: gray;
    cursor: pointer;
}
