* {
    box-sizing: border-box;
}

body {
    font-family: "Unica One", sans-serif;    
    background-image: url("portfolio-mock-pictures/milky-way.jpg");
    background-size: cover;
    background-attachment: fixed; 
    margin: 0;  
    text-shadow: 1px 1px 1px black;
}

#grad {
    background-image: linear-gradient(rgba(26,22,83,0.8),rgba(48,25,71,0.8),rgba(118,85,154,0.8),rgba(168, 95, 149, 0.8));
    width:80%;
    text-align: center;
    margin-left: auto;
    margin-right:auto;
    border-radius: 10px;
  }
main {
    margin: 20px;
}
a:focus {
    background-color: yellow;
}
.nameTitle {
    width:80%;
    color: white;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

h1 {
    font-family: 'Philosopher', sans-serif;
    font-size: 100px;
    letter-spacing: 1px;
} 
h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 40px;
    text-decoration: underline overline;
    letter-spacing: 1px;
}
h3 {
    font-family: 'Philosopher', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
}

p, li {
    font-family: 'Muli', sans-serif;
    line-height: 20px;
    text-align: left;
    font-size: 18px;
}
.mobileNav, .mobileMenu {
    display: none;
}
nav {
    width: 100%;
    background: rgba(26,22,83,0.8);
    color: rgb(223, 219, 219);
    text-shadow: 1px 1px 1px black;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 10px;  
}
nav li {
    list-style:none;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding-left: 20px; 
}

nav li:after, nav li:before {
    content: "  |  ";
}

nav li a {
    text-decoration: none;
}

.tabletDesktopNav a:hover {
    color: gray;
    cursor: pointer;
}

section {
    width: 80%;
    min-height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:rgb(223, 219, 219);
    text-shadow: 1px 1px 1px black;
}

.aboutMe p {    
    padding-top: 15px;
}

.show {
    display: block;
}
.aboutMe img {
    width: 60%;
}

.projects img {
    width: 100%;
}

.projects a {
    text-decoration: none;
    font-size: 20px;
}

.stack i{
    padding-bottom:10px;
    padding-right: 10px;
    padding-left: 10px;  
}

.live:after {
    content: " | ";
}

.repo:after {
    content: " | "
}

.contact p, li{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.contact ul {
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
}

.contact li {
    list-style: none;
}

.contact li a {
    text-decoration: none;
}

footer {
    background-color:rgb(26,22,83);
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

footer ul {
    display: inline;
}

footer li {
    display: inline;
}


.social {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
}

.social a:link, .contactIcon a:link, .projects a:link, nav li a:link {
    color: white;
}
.social a:visited, .contactIcon a:visited, .projects a:visited, nav li a:visited {
    color: rgb(192, 190, 190);
}

.social a:hover, .contactIcon a:hover, .projects a:hover, nav li a:hover {
    color: gray;
    cursor: pointer;
}


@media only screen and (max-width: 520px) {
    body {
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .fa-3x {
        color: white;
        position: fixed;
        right: 10px;
        top: 1px;
        z-index: 11;
    }

    .tabletDesktopNav {
        display: none;
    }
    
    #menuDropdown {
        position: fixed;
        right: 10px;
        top:35px;
        width: 90px;
        font-size: 10px;
        z-index: 10;
        display: flex;
        flex-direction: column;  
        border-radius: 10px; 
        background: rgba(26,22,83,0.9); 
    }
    .mobileMenu p {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: 15px;
        font-family: 'Philosopher', sans-serif;
    }

    .mobileMenu a {
        text-decoration: none;
    }
    .mobileMenu a:link {
        color: white;
    }
    .mobileMenu a:visited {
        color: white;
    }
    
    .mobileMenu a::after {
        color: white;
    }
    
    .mobileMenu a:hover {
        color: gray;
        cursor: pointer;
    }
    
    .mobileNav {
        display:none;
    }

    .show {
        display: block;
    }

    section {
        min-height: 100px;
    }
    .nameTitle {
        height: 200px;
    }
    h1 {
       font-size: 40px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 18px;
    }
    #more {
        display: none;
    }
    .readMore {
        width: 80%;
        color: white;
        background: none;
        border-bottom: none;
        border-left:none;
        border-right: none;
        border-top: 1px white dotted;
    }
    .readMore:hover{
        cursor: pointer;
        font-size: 20px;
        transition: 0.3s;
    }

    .contact ul{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2px;
    }
    .contact li a{
        text-decoration: none;
    }
    footer {
        display: none;
    }
}
@media (min-width: 521px) and (max-width: 1024px) {
    .mobileNav, .fa-caret-down {
        display: none;
    }
    #more {
        display: none;
    }
    .readMore {
        width: 80%;
        color: white;
        background: none;
        border-bottom: none;
        border-left:none;
        border-right: none;
        border-top: 1px white dotted;
    }
    h1 {
        font-size: 65px;
     }
     h2 {
         font-size: 35px;
     }
     h3 {
         font-size: 25px;
     }
    .readMore:hover{
        cursor: pointer;
        font-size: 20px;
        transition: 0.3s;
    }
}
@media (min-width: 1025px) {
    .mobileNav, .fa-caret-down {
        display: none;
    }
    .readMore, #dots{
        display: none;
    }
}